.App {
  margin: 0;
}
.text_center {
  text-align: center;
}
.header, .footer {
  background-color: #ededed;
  font-size: 30px;
  padding: 20px;
  font-weight: bold;
}

.header button {
  position: absolute;
  right: 15px;
  margin-top: -35px;
}
