body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.right {
  text-align: right;
}
.btn {
  width: 100px;
  padding: 10px;
}
.mt_10 {
  margin-top: 10px;
}